body {
  background-color: #1a1c29;
}

#page {
  height: 100%;
  width: 100%;
}

#liste {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.employe {
  background-color: #f8f8f8;
  border-radius: 30px;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 20px;
  width: 350px;
}

.e_name {
  color: #111111;
}
